/* Write your code here. */
.thumbnail {
  margin-right: 15px;
  margin-bottom: 15px;
}
.opaque {
  opacity: 0.5;
}

.btn {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  outline: none;
}
